version: 2.1
jobs:
  semgrep-scan:
    environment:
      SEMGREP_RULES: >- # more at semgrep.dev/explore
        security_rules

      # Scan changed files in PRs, block on new issues only (existing issues ignored)
      SEMGREP_BASELINE_REF: master
    docker:
      - image: returntocorp/semgrep-agent:v1
    steps:
      - checkout
      - run:
          name: "Semgrep scan"
          command: semgrep-agent
workflows:
  main:
    jobs:
      - semgrep-scan
